.body-container {
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.secondary-navbar {
  top: 0 !important;
}


/* Remove top margin from container to reduce space below navbar */
.container {
  margin-top: 0;
  padding: 20px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
